:root {
  --primary: #1b0547;
}

.top-bar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.btn-light {
  background-color: #fff;
  border-color: #dee2e6;
  color: #111;
}

.btn-primary,
.bg-primary {
  background-color: var(--primary) !important;
}

.navbar-brand {
  color: var(--primary);
}

.btn-light i {
  color: var(--primary);
}

.slider_nav {
  max-height: 250px;
}

@media (min-width: 1200px) {
  .slider_nav {
    max-height: 300px;
  }
}

@media (min-width: 1400px) {
  .slider_nav {
    max-height: 350px;
  }
}

.carousel-inner img {
  border-radius: 1rem;
}

.navbar .nav-link {
  color: #ffffff !important;
}

.nav-link {
  color: var(--primary);
}

.navbar .nav-link:hover {
  opacity: 0.5;
}

.img-wrap {
  position: relative;
  padding: 1rem;
}

.img-wrap .span {
  position: absolute;
  top: 10px;
  right: 10px;
}

.info-wrap {
  padding: 0.5rem;
}

.title {
  display: block;
  text-decoration: none;
  color: #51585e;
}

.price-wrap .price-discount {
  font-size: 1.1rem;
}

.breadcrumb a {
  color: #fff;
  text-decoration: none;
}
.breadcrumb a:hover {
  opacity: 0.5;
}
.breadcrumb .breadcrumb-item {
  color: #fff;
}

.checked {
  color: orange;
}

/* gallery */
.gallery-wrap .img-big-wrap {
  width: 100%;
  height: 400px;
  margin-bottom: 7px;
  text-align: center;
}

.gallery-wrap .thumbs-wrap {
  text-align: center;
}

.gallery-wrap .thumbs-wrap img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: contain;
}

.gallery-wrap .thumbs-wrap a {
  width: 60px;
  height: 60px;
  border: 1px solid #dde2e6;
  border-radius: 0.6rem;
  margin: 3px;
  display: inline-block;
  overflow: hidden;
}

li h6 {
  color: var(--primary);
}

@media (max-width: 578px) {
  .img-wrap img {
    height: 200px;
    object-fit: contain;
  }
}
@media (min-width: 578px) {
  .img-wrap img {
    height: 200px;
    object-fit: contain;
  }
}
